* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #D6CCC4;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.input-group.md-form.form-sm.form-2 input.lime-border {
    border: 1px solid #cddc39;
}