* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #D6CCC4;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}